body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(bg3.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.naglowek{
    width: 100%;
    height: 70px;

    text-align: left;
    color: rgb(0, 0, 0);
}

.info{
    width: 100%;
    height: 100px;
    text-align: center;
}

.obj{
    width: 100%;
    height: 450px;
    text-align: center;
}
.kula{
margin: auto;
}
.kalkulator{
    width: 100%;
    height: 200px;

    text-align: center;
    font-size: 25px;
}
input{
    border-radius: 25px;
    height: 5vh;
    width: 9vw;
    border: solid 2px;
    text-align: center;
}

button{
    height: 5vh;
    width: 6vw;
    border: solid 2px;
    text-align: center;
    border-radius: 25px;
    
}
.wynik{
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.naglowek h1{
    text-align: center;
    font-size: 28;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing:  5px;
}